週間ランキング
<% rank_count = 0 %>
<% @result.each do |  user , min | %>
  <div>
    <%= rank_count += 1 %>位
    <% user = User.find(user) %>
    <%= user.name %>さん
    <%= (min/60.0).floor(2) %>時間
  </div>
<% end %>


