
   <% if current_user.following?(user) %>
       <p>
         <%= link_to unfollow_path(user) ,method: :delete ,remote: true do %>
         <span class="btn btn-primary">フォローを外す</span>
         <% end %>
       </p>
    <% else %>
       <p>
         <%= link_to follow_path(user) ,method: :post ,remote: true do %>
        <span class="btn btn-outline-primary">フォローする</span>
         <% end %>
       </p>
    <% end %>