<p class="pt-3 h4">楽天市場で検索</p>
  <div class="pb-3">
    <%= form_tag :rakuten_search, method: :get do  %>
      <%= text_field_tag 'keyword', params[:keyword],placeholder:"タイトル検索" %>
      <%= submit_tag "検索" %>
    <% end %>
  </div>
