  <div class="error">
    <% if @recommend.errors.any? %>
      <%= @recommend.errors.count %>件のエラーが発生しました
      <% @recommend.errors.full_messages.each do |message| %>
      <div>
        <%= message %>
      </div>
      <% end %>
    <% end %>
  </div>