<div class="col text-center">
  <p>TOGETHER STUDYは、日々の勉強の記録を残したい、</br>
     リアルタイムで勉強している仲間を見つけてちょっとほっとしたい</br>
     ちょっとだけ息抜きしたい、</br>
     そんなあなたのためのSNSです。</br>
     会員登録することで</p>
           <%= link_to "アカウント作成", new_user_registration_path,class:"btn btn-success" %>
      <%= link_to "ログイン", new_user_session_path,class:"btn btn-success" %>
</div>

