<div class="text-center p-5">
  <p class="about-massage">TOGETHER STUDYは、受験勉強サポートのためのWebサイトです。</br>
     会員登録すると、日々の勉強時間と内容の記録、</br>
     おすすめ書籍の投稿と閲覧ができるようになります。</br>
     勉強中は不安がつきものですが、</br>
     今この瞬間に勉強をしているユーザがわかったり</br>
     誰にいうでもないつぶやきを残したり…</br>
     あなたの受験勉強を少しだけサポートします。</p>
  <div class="how-to-use">
      <p class="h3"><span><i class="fas fa-question-circle"></i></span>TOGETHER STUDYの使い方<span><i class="fas fa-question-circle"></i></span></p>
  <p class="how-to-use-massage">
    ①勉強を始める際は、マイページの「勉強開始」ボタンをクリックしてください。勉強中ユーザーにあなたが追加されます。</br>
    ②勉強時間を登録してみましょう。勉強時間詳細から、勉強内容を振り返ることができます。</br>
    ③おすすめの書籍があれば、ぜひ投稿してください。あなたの投稿が他の受験生の助けになります！</br>
    ④勉強に行き詰まったら、ひとりごとを呟いてみませんか？</br>
    　ただのひとりごとですので、他のユーザーからの反応を気にする必要はありません。</p>
  </div>

  <% if user_signed_in? %>
    <%= link_to "マイページへ" ,user_path(current_user),class:"btn btn-outline-primary" %>
  <% else %>
    <%= link_to "アカウント作成", new_user_registration_path,class:"btn btn-success" %>
    <%= link_to "ログイン", new_user_session_path,class:"btn btn-success" %>
  <% end %>
</div>

