<div class="top">
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="top-massage">ようこそ、TOGETHER STUDYへ！</h1>
    </div>
  </div>
  <div class="row">
    <dov class="col text-center">
      <p class="top-massage">TOGETHER STUDYは、受験生のためのSNSです。</p>
    </dov>
  </div>
  <div class="row">
    <dov class="col text-center">
      <%= link_to "アカウント作成", new_user_registration_path,class:"btn btn-success" %>
      <%= link_to "ログイン", new_user_session_path,class:"btn btn-success" %>
    </dov>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "このサイトについて", about_path, class:"no-underline top-massage" %>
    </div>
  </div>
</div>

</div>