<div class="top">
<div class="container">
  <div class="row">
    <div class="col text-center top-massage welcome-massage">
      ようこそ、TOGETHER STUDYへ！
    </div>
  </div>
  <div class="row">
    <dov class="col text-center">
      <p class="top-massage">TOGETHER STUDYは、受験生のためのSNSです。</p>
    </dov>
  </div>
  <div class="row">
    <dov class="col text-center">
      <% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id),class:"btn btn-success" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path,class:"btn btn-success" %>
        <%= link_to "アカウント作成", new_user_registration_path,class:"btn btn-success" %>
      <% end %>
    </dov>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "このサイトについて", about_path, class:"no-underline top-massage" %>
    </div>
  </div>
</div>

</div>