1日の詳細
<% @daily_study_details.each do |daily_study_detail| %>
<div>
  <%= daily_study_detail.comment %>
  <%= (daily_study_detail.min/60.0).floor(2) %>時間
  <% if daily_study_detail.user == current_user %>
    <%= link_to "削除する",study_time_path(daily_study_detail.id),method: :delete %>
  <% end %>
</div>

<% end %>
<%= @day_params %>