<h1>勉強時間一覧画面</h1>



<p>1日毎の集計</p>
<% @daily_times.each do |date , min| %>
<% if @user == current_user %>
<%= link_to (min/60.0).floor(1),daily_show_path(date) %>
<p><%= date %></p>
<% else %>
<%= (min/60.0).floor(1) %>時間
<p><%= date %></p>
<% end %>
<% end %>
