<div class="error">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <% @post.errors.full_messages.each do |message| %>
    <div>
      <%= message %>
    </div>
    <% end %>
  <% end %>
</div>