<h1>つぶやき投稿ページ</h1>
<%= form_with model:@post , url:"/posts" , local:true do |f| %>
<p>タイトル
  <%= f.text_area :body , placeholder:"つぶやき" %>
</p>
<%= f.attachment_field :image, placeholder: "プロフィール画像" %>
<%= f.submit"つぶやく",class:"btn btn-success" %>
<% end %>
