/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.favorite {
 color:pink;
}

.no-underline {
 text-decoration: none !important;
 color: #0bd;
}

.no-underline :hover {
 color: #0090aa;
}

.sign-field{
 padding: 10px;
}


input[type="text"] {
 width: 300px;
 height: 40px;
}

input[type="email"] {
 width: 300px;
 height: 40px;
}

input[type="password"] {
 width: 300px;
 height: 40px;
}

textarea {
    resize: horizontal;
    width: 300px;
}

// これなに？？↓
.profile {
 width: 70%;
 text-align: center;
}

.profile-image{
 padding: 20px;
}

.btn, .inline-block{
 display: inline-block;
}

.post-img{
 vertical-align: top;
}

.introduction{
 display: flex;
 align-items: center;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  margin: 0 auto;
}

.card-img {
  max-width: 340px;
  height: auto;
  margin: 0 auto 5px auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link a:hover {
  color: #0090aa;
}

.user-image {
 max-width: 40px;
}

.text-area {
 height: 150px;
}

.post-btn {
 margin-top: 10px;
}

.book-title {
 max-width: 100%;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  margin: 0 auto;
}

.recommend-info {
 color: #808080;
}

.card-recommend {
 width: 100%;
}